pre {
    font-family: monospace, monospace;
    font-size: 0.8em;
}


/* Classes */

.button {
    background-color: rgb(37, 72, 189);
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 4px 2px 0px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(21, 42, 112);
    color: white;
}

.topbar {
    border-top: .5rem solid #4f6997;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    height: 85px;
    width: 100%;
    z-index: 550;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1.25rem;
    position: relative;
}

.topbar-xl-wide .topbar-nav .topbar-link-container>a:not(.close-topbar-nav)>span:before {
    content: "";
    position: absolute;
    background-color: rgb(60, 52, 129);
    height: 4px;
    bottom: -4px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0;
}

.center-text {
    text-align: center;
}

.form-group {
    margin-bottom: 0.5rem;
    height: 75px;
}

.btn.btn-executive:hover {
    color: #fff;
    background-color: #224c86;
}

.btn.btn-executive {
    color: #fff;
    background-color: #1267e6;
}

.form-control {
    min-height: calc(2.25rem + 12px);
}